body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#slika_header {
    margin-bottom:0px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }


    .navbar .navbar-collapse {
        text-align: center;
    }
}

#M_logo {
     max-width: 100%;
     height: auto;

    margin-top: 0px;
}

.m_logo#logo_div {
    text-align:center;
    margin-top:-87px;
    margin-bottom: 25px;
}

#work_icn {
    width:48px;
    height:48px; 
}

.navbar .navbar-collapse .nav li {
    width:250px;
   
}

.navbar .navbar-collapse .nav li a{
   text-align:center;
   padding:0px 0px 0px 0px;
   margin: 15px 15px 15px 15px;   
}

.navbar .navbar-collapse .nav li p{
    margin-top:10px;
    border-top: 2px solid #ff0000;   
    text-align:center;
}

.navbar .navbar-collapse .nav li img{  
    text-align:center;
}

.banner {
    text-align:center;
}

.banner img {
    width: 100%;
    height: 290px;
}
/*
    za underline ispod sličica za izbornik - mozda radi (http://adria.fesb.hr/~ibegov00/seminarski/)


    .active {
    border-bottom: 4px solid #ff0000;

    ili

    #menu li a:hover{
	border-bottom: 4px solid #333333;

    vjerojatno ovako: 
    border-bottom: solid;
    border-bottom-color: aquamarine;
	
}
}
*/