@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="welcome_div">
    <h1>HI THERE!</h1>
</div>

<div class="row" id="about_prvi_section">

    <div class="col-md-2">
       
    </div>

    <div class="col-md-4" id="test">
        <p class="opci_font_about">My name is Maja and I am a student from Croatia <br />studying for an AP degree in design technology and business<br /> in Aalborg, Denmark.
        <br />I like to design, illustrate, animate and most importantly acquire new knowledge.

<br /><br />
        If you are interested in working with me or you have some questions to ask, please feel free to contact me. :)</p>
    </div>

    <div class="col-md-1">
    
    </div>
    <div class="col-md-3">
        <img class="work_slika" src="https://i.ibb.co/hHkfwGL/jaslika.jpg" />
    </div>
    <div class="col-md-2">

    </div>

</div>