@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="row" id="contact_prvi_section">


    <div class="col-md-12" id="kontakt_prvi_div">
        <div class="contact_mini_odjeljak">
            
            <p class="opci_font_modal_velicina_slova"><img class="contact_ikona" src="~/Content/Images/tel_icon.png" /> email:<br />ljubeticmaja740&#64;gmail.com</p>
        </div>
        <div class="contact_mini_odjeljak">
            
            <p class="opci_font_modal_velicina_slova"><img class="contact_ikona" src="~/Content/Images/mail_icon.png" /> tel:<br />1234567890</p>

        </div>
        <div class="contact_mini_odjeljak">
            
            <p class="opci_font_modal_velicina_slova"><img class="contact_ikona" src="~/Content/Images/instagram_icon.png" />instagram:<br />&#64;ljubeticmaja740</p>
        </div>
    </div>

    @*<div class="col-md-4">
        <img class="contact_ikona" src="~/Content/Images/mail_icon.png" />
    </div>

    <div class="col-md-4">
        <img class="contact_ikona" src="~/Content/Images/instagram_icon.png" />
    </div>*@

</div>