
@{
    ViewBag.Title = "Illustrations";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="welcome_div">

</div>

<div class="prvi_odjeljak">
    <div class="col-md-3">
        <img class="work_slika" src="~/Content/Images/sirena_notebook_mockup.jpg" />
        @*<h1>more coming real soon!</h1>*@
    </div>

    <div class="col-md-9" id="placeholder2">
        <p></p>
    </div>

</div>

<div class="drugi_odjeljak">
    <div class="col-md-4">
        <h1 class="bebas_font">more coming real soon!</h1>
    </div>

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>