@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="welcome_div">
    <h1>welcome</h1>
</div>

<div class="prvi_odjeljak">
    <div class="col-md-12">
        <p>
            Hi and welcome to my digital portfolio! My name is Maja and I am studying to be a graphic designer. Here you can find and check out some of my work that I have done as school assignments and some of my illustrations that I like to make during free time.
        </p>

        <p>
        </p>

        <p>  hope you will find this content enjoyable! :)</p>

    </div>

    @*<div class="col-md-4">
            <p>
                Hi and welcome to my digital portfolio! My name is Maja and I am studying to be a graphic designer. Here you can find and check out some of my work that I have done as school assignments and some of my illustrations that I like to make during free time.
                I hope you will find this content enjoyable! :)
            </p>
        </div>

        <div class="col-md-4">
            <p>
                Hi and welcome to my digital portfolio! My name is Maja and I am studying to be a graphic designer. Here you can find and check out some of my work that I have done as school assignments and some of my illustrations that I like to make during free time.
                I hope you will find this content enjoyable! :)
            </p>
        </div>*@
</div>