
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




    <div class="row" id="work_prvi_section">
        @*prva slika*@
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <a href="#" class="pop">
                <img class="work_slika"  id="ima_hover" src="https://i.ibb.co/2k7BpzX/hta-poster-mockup-cut-body.jpg">
            </a>
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
            </button>*@

            <!-- Modal 1-->
            <div class="modal custom" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/hta_poster_mockup.jpg"></div>
                                    <div class="col-md-3" id="modal_text">
                                        <p class="bebas_font_modal_velicina_slova" >POSTER DESIGN</p>

                                        <p class="opci_font_modal_velicina_slova">
                                            Poster prototype made for the ''Hrvatska Turisticka Agencija'' advertisement campaign



                                          <br />  school assignment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal2">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        @*druga slika*@
        <div class="col-md-4">
            <a href="#" class="pop2">
                <img class="work_slika" id="ima_hover" src="https://i.ibb.co/Z83XBSY/scream-mockup-cut.jpg">
            </a>
            <!-- Modal -->
            <div class="modal custom" id="imagemodal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                         
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/scream_mockup.jpg"></div>
                                    <div class="col-md-3" id="modal_text">
                                        <p class="bebas_font_modal_velicina_slova">POSTER DESIGN</p>

                                        <p class="opci_font_modal_velicina_slova">
                                            Inspired by painting ‘’The Scream’’ and cubism movement
                                        
                                            <br />school assignment of isms and art periods</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal">Previous</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal3">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>







        @*treca slika*@
        <div class="col-md-4">
            <a href="#" class="pop3">
                <img class="work_slika" id="ima_hover" src="https://i.ibb.co/d0VChDX/brochure-mockup-cut.jpg">
            </a>
            <!-- Modal -->
            <div class="modal custom" id="imagemodal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                   
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/brochure_mockup.jpg"></div>
                                    <div class="col-md-3" id="modal_text">
                                        <p class="bebas_font_modal_velicina_slova">BROCHURE DESIGN</p>

                                        <p class="opci_font_modal_velicina_slova">
       
                                            Tri-fold prototype made for the coffee shop ‘’Friends’’



                                           <br /> school assignment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal2">Previous</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal4">Next</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>


@*-------------------------------------------------------*@



<div class="row" id="work_drugi_odjeljak">
    @*cetvrta slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop4">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/b1MV1wT/cd-cover-mockup-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                   
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/cd_cover_mockup.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">CD COVER DESIGN</p>

                                    <p class="opci_font_modal_velicina_slova"> Cover design prototype for the Danish band ''Her Murder Case''

                                        <br /> school assignment </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal3">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal5">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @*peta slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop5">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/Ntf21Q5/portfolio-mockup2-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                  
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/portfolio_mockup2.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">PORTFOLIO DESIGN</p>

                                    <p class="opci_font_modal_velicina_slova">Design portfolio consisting of the features of the new trend



                                        <br /> school assignment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal4">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal6">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






        @*sesta slika*@
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <a href="#" class="pop6">
                <img class="work_slika" id="ima_hover" src="~/Content/Images/business_card_mockup.jpg">
            </a>


            <!-- Modal -->
            <div class="modal custom" id="imagemodal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                  
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/business_card_mockup.jpg"></div>
                                    <div class="col-md-3" id="modal_text">
                                        <p class="bebas_font_modal_velicina_slova">BUSINESS CARD DESIGN</p>

                                        <p class="opci_font_modal_velicina_slova">
                                            Business card made for the company ''Madsen Vinduer og Døre''



                                            <br />  school assignment; logo designing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal5">Previous</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal7">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>


@*-------------------------------------------------*@

<div class="row" id="work_treci_odjeljak">
    @*sedma slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop7">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/qJGdtnz/catalog-mockup-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/catalog_mockup.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">Catalog Design </p>

                                    <p class="opci_font_modal_velicina_slova">
                                        Catalog prototype presented for the ''Visit Nordjylland'' advertisement campaign

                                        <br /> school assignment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal6">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal8">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @*osma slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop8">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/dWVcSkF/ad-mockup-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                   
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/ad_mockup.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">ADVERTISEMENT DESIGN</p>

                                    <p class="opci_font_modal_velicina_slova">
                                        Business card prototype presented for the ''Visit Nordjylland'' advertisement campaign

                                        <br />  school assignment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal7">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal9">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    @*deveta slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop9">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/9ZBTkVL/business-card-mockup-nj-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                   
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/business_card_mockup_nj.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">BUSINESS CARD DESIGN</p>

                                    <p class="opci_font_modal_velicina_slova">
                                        Business card prototype presented for the ''Visit Nordjylland'' advertisement campaign
                                        <br />  school assignment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal8">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal10">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*-------------------------------------------------*@

<div class="row" id="work_cetvrti_odjeljak">
    @*deseta slika*@
    <div class="col-md-4">
        <!-- Button trigger modal -->
        <a href="#" class="pop10">
            <img class="work_slika" id="ima_hover" src="https://i.ibb.co/nmPpJ7T/jutland-poster-mockup-cut.jpg">
        </a>


        <!-- Modal -->
        <div class="modal custom" id="imagemodal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9"><img class="img_unutar_modala" src="~/Content/Images/jutland_poster_mockup.jpg"></div>
                                <div class="col-md-3" id="modal_text">
                                    <p class="bebas_font_modal_velicina_slova">POSTER DESIGN</p>

                                    <p class="opci_font_modal_velicina_slova">
                                        Poster prototype presented for the ''Visit Nordjylland'' advertisement campaign

                                        <br />  school assignment </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#imagemodal9">Previous</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
